@import './../../styles/theme.scss';

$landingHeight: calc(100vh - 97px);

.landingContainer {
    width: 100%;
    min-height: $landingHeight;
    background-color: $white;

    .textContainer {
        min-height: $landingHeight;
        width: 100%;
        margin: auto auto 5px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title{
            text-align: center;
            width: 40%;
            font-size: 64px;
            font-weight: 500;
            margin: 0;
            @media (max-width: 1023px) {
                width: 60%;
            }
            @media (max-width: 600px) {
                width: 90%;
                font-size: 48px;
            }
        }
        .subTitle{
            text-align: center;
            width: 50%;
            font-size: 16px;
            font-weight: 500;
        }
        .buttonContainer {
            text-align: center;
            width: 50%;
            padding-bottom: 16px;
            .button {
                border: 2px outset $black;
                padding: 10px 35px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
            }

            .button:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
}

.modal {
    position: absolute;
    inset: 15% 40%;
    min-height: 500px;
    border: 2px solid $black;
    border-radius: 2px;
    background: $white;
    overflow: auto;
    outline: none;
    padding: 20px;

    @media (max-width: 1023px) {
        inset: 10% 20%;
    }
    @media (max-width: 600px) {
        inset: 5% 10%;
    }

    .formContainer {
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .formHeader {
            font-size: 18px;
            font-weight: 500;
            font-style: italic;
        }
        .lineBreak {
            width: 20%;
            border: none;
            height: 2px;
            background-color: $black;
            margin-bottom: 20px;
        }
        .input {
            width: 90%;
            border: 1px solid $black;
            background: #FFF;
            margin: 10px 0 5px;
            padding: 10px;
        }
        .submitButton {
            margin-top: 80px;
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            border: 2px outset $black;
            width: 90%;
            padding: 10px 0;
        }
        .errorMessage {
            margin-top: 40px;
        }
        .succesText{
            font-size: 14px;
            font-weight: 500;
            font-style: italic;
        }
    }
}